
@media print {
  .olckb-toolbar {
    display: none;
  }
}

/**
 * Generic
 */

.olckb-toolbar .widget .tool {

  display: inline-block;
  margin: 0 .25em .25em 0;
  padding: 2px;
  border-style: none;

  /* Color: border */
  border-color: black;

}

.olckb-toolbar .widget .tool.character-group  > a.character {

  display: inline-block;
  cursor: pointer;
  margin: 0;
  margin-right: .25em;
  padding: 0 5px;
  /*line-height: 1em;*/

}
.olckb-toolbar .widget .tool.character-group > a.character:hover {

  text-decoration: none;

}

/**
 * Along top of page
 */

.region-page-top .olckb-toolbar {
  
  /* Toolbar */

  position: fixed;
  z-index: 600;
  width: 100%;

  /**
   * For horizontal scrolling...
   * See: http://css-tricks.com/how-to-create-a-horizontally-scrolling-site/ 
   */

  /* Color */
  background-color: black; /* Typically, same as header */
  background-color: #DfDfDf;
  background-color: black;

}

.region-page-top .olckb-toolbar .widget {

  /* Toolbar widget */

  box-sizing: border-box;
  margin: 0 auto;
  padding: .125em .25em;
  width: 960px;
  
  /* Spacing top of toolbar */

  /* Color */
  background-color: black; /* Typically, same as header */
  background-color: rgba(0,0,0,.5);
  background-color: rgba(255,255,255,.75);

}

.region-page-top .olckb-toolbar .widget .tool {

  margin: 0 .25em 0 0;
  border: none;
  padding: 0;
  vertical-align: top;

}

.region-page-top .olckb-toolbar .widget .tool.character-group > a.character {

  /* Character button */

  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0 5px;

  vertical-align: top;
  text-align: center;
  white-space: nowrap;

  /* Color: button */
  background: rgba(255,255,255,.5); /* White background, 40% alpha */
  color: black;

}
.region-page-top .olckb-toolbar .widget .tool.character-group > a.character:hover {

  /* Character button (hovered) */

  text-decoration: none;

  /* Color */
  background: white;
  color: black;

}
.region-page-top .olckb-toolbar .widget .tool.character-group.modifier-letters > a.character {

  width: 14px;

}

