
body:not(.toolbar) {

  /* Spacing top of toolbar */
  padding-top: 56px !important;

}

/**
 * Generic
 */

.olckb-toolbar .widget .tool {

  /* Color: border */
  border-color: black;

}
.olckb-toolbar .widget .tool.character-group  > a.character {
}
.olckb-toolbar .widget .tool.character-group > a.character:hover {
}


/**
 * Along top of page
 */

.region-page-top .olckb-toolbar {

  /* Toolbar */

  /* Spacing top of toolbar */
  margin-top: -56px;

  /* Color */
  background-color: rgb(62,62,120); /* Typically, same as header */

}

.region-page-top .olckb-toolbar .widget {

  /* Toolbar widget */

  /* Spacing top of toolbar */
  height: 56px;

  /* Color */
  background-color: #607267; /* Typically, same as header */

}

.region-page-top .olckb-toolbar .widget .tool {
}

.region-page-top .olckb-toolbar .widget .tool.character-group > a.character {

  /* Character button */

  /* Color: button */
  background: rgba(255,255,255,.4); /* White background, 40% alpha */
  color: black;                     /* Black text */

}
.region-page-top .olckb-toolbar .widget .tool.character-group > a.character:hover {

  /* Character button (hovered) */

  /* Color */ 
  background: white;
  color: black;

}

.region-page-top .olckb-toolbar .widget .tool.character-group > a.combining-character {

  /* Combining character button */

  /* Color */
  background: rgba(0,0,0,.25);
  color: rgba(255,255,255,.75);

}
.region-page-top .olckb-toolbar .widget .tool.character-group > a.combining-character:hover {

  /* Combining character button (hovered) */

  /* Color */
  background: white;
  color: black;

}

.region-page-top .olckb-toolbar .widget .tool.character-group.modifier-letters > a.character {

  /* Modifier letter group */

  /*width: 14px;*/

}

